.heatmap {
    background: radial-gradient(ellipse at center, rgba(255,0,72,1) 0%,rgba(255,255,255,0) 67%,rgba(255,255,255,0) 100%);
    transition: all 0.5s;
}

.winrate {
    border: 1px solid purple;    
}

.winrate-high {
    border: 1px solid rgb(232, 5, 136);
}