html {
	user-select: none;
	transition: background 2.5s;
}

.hidden {
  visibility: hidden;
}

.display-none {
	display: none;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.no-border {
	border: none !important;
}

.full-width {
	width: 100%;
}

#logo {
  user-select: none;
}

#menu-button {
	transition: all 0.5s;
}

#menu-button :hover {
	color: dimgrey;
	transition: all 0.5s;	
}

.ReactModal__Overlay {
	z-index: 2;
}

.shadow-controller {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.blur {
	-webkit-backdrop-filter: blur(3px); /* Safari 9+ */
    backdrop-filter: blur(3px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.01);
}