.skyblue {
  background-color: #47b2ff; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #47b2ff, #00dbde); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #47b2ff, #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.default-theme {
  background: rgb(240, 171, 93);
}

.purpink {
  background-color: #7f00ff; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #7f00ff, #e100ff); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #7f00ff, #e100ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sublime-vivid {
  background-color: #fc466b; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #fc466b, #3f5efb); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #fc466b, #3f5efb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.timber {
  background-color: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fc00ff, #00dbde); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fc00ff, #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.simple-yellow {
	background-color: #ffb649;
}

.dark {
  background-color: #151c1c;
}

.metal {
  background-color: rgb(187, 187, 187);
}