.touch {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.touch:hover {
    opacity: 0.5;
}